.carrot {
	position: relative;
    text-align: center;
    margin-top: -20px;
}

#carrot {
	position: absolute;
}

#white {
	position: absolute;
}

#currentServe {
	position: absolute;
	right: 50%;
	top: 160px;
}

#goalServe {
	position: absolute;
	top: 75px;
}

.intakeButton {
	position: relative;
	text-align: center;
}

#stars {
	height: 30px;
}

#star1 {
	height: 30px;
	width: 30px;
	position: absolute;
	left: 28%;
}

#star2 {
	height: 30px;
	width: 30px;
	position: absolute;
	left: 43%;
}

#star3 {
	height: 30px;
	width: 30px;
	position: absolute;
	left: 58%;
}