#arrows {
	height: 40px;
}

#arrow-left {
	width: 40px;
	height: 30px;
	visibility: hidden;
	padding: 0px 0px 0px 10px;
}

#arrow-right {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 15px;
}

.chosenItems {
	width: 90%;
	height: 75px;
}

.chosenDetails {
	padding: 0px 0px 0px 10px;
}

#edit {
	height: 20px;
	width: 20px;
	position: absolute;
	right: 20px;
}

.delete {
	height: 50px;
	width: 35px;
	padding: 25px 0px 0px 10px;
	visibility: hidden;
}