<!DOCTYPE html> 
<html> 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ionicons.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head> 
<body> 
<div id="choisir_ville" data-role="page" data-add-back-btn="true">
	
	<div data-role="header"> 
		<h1> Please complete your information </h1>
	</div> 

	<div data-role="content">
	
<!-- 	<form>
     <label for="text-1">First Name</label>
     <input type="text" name="text-1" id="text-1" value="">
     <label for="text-3">Last Name</label>
     <input type="text" data-clear-btn="true" name="text-3" id="text-3" value="">
	</form>
	
	<form>
     <label for="text-1">Email</label>
     <input type="text" name="text-1" id="text-1" value="">
	 <label for="text-3">phone number</label>
     <input type="text" data-clear-btn="true" name="text-3" id="text-3" value="">
	 <label for="text-3">your current weight</label>
     <input type="text" data-clear-btn="true" name="text-3" id="text-3" value="">
	</form> -->
	<div class="list">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">First Name</span>
	    <input type="text" placeholder="First Name">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Last Name</span>
	    <input type="text" placeholder="Last Name">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Email</span>
	    <input type="text" placeholder="Email">
	  </label>
	</div>
	
	<form action="action_page.php">
		Date of Birth<br>
		<input type="date" name="bday" max="1979-12-31">
	</form>
	
	<form>
        <fieldset data-role="controlgroup">
        <legend>Gender</legend>
        <input type="radio" name="radio-choice-v-2" id="radio-choice-v-2a" value="on" checked="checked">
        <label for="radio-choice-v-2a">Male</label>
        <input type="radio" name="radio-choice-v-2" id="radio-choice-v-2b" value="off">
        <label for="radio-choice-v-2b">Female</label>	
    </fieldset>
	</form>

	<br>
	<h5> Do you agree with our policy</h5>	
	<form>
		<input type="checkbox" name="checkbox-mini-0" id="checkbox-mini-0" data-mini="true">
		<label for="checkbox-mini-0">I agree</label><br>
	</form>
	<ul data-role="listview" data-inset="true" >
	<!-- This page is for list all catergories, and it should link to choose_size.html -->
	<li><a href="info.html" data-transition="slidedown"> <h3> Join VegeTracker</h3></a></li>
	</ul>	
</div><!-- /page -->
</body>
</html>