<ion-view view-title="Statistic">
    
    
    
    <ion-content class="padding">
<!--                <BR>&nbsp;</BR>-->
<!--        <h1 class="title">Vegetable Intakes</h1>-->
<!--        -->
<!--        <p></p>-->
<!--        -->
<!--        <img src="bar_graph.png" style="width:350px;height:200px;">-->
<!--            -->
<!--            <BR>&nbsp;</BR>-->
<!--            <h1 class="title">Weight</h1>-->
<!--            -->
<!--            <p></p>-->
<!--            -->
<!--            <img src="line_graph.png" style="width:350px;height:200px;">-->

    <div class="card">
        <div class="item item-divider">
            Weekly Intake
        </div>
        <div class="item item-body" id="card1">
        </div>
    </div>
    
    <div class="card">
        <div class="item item-divider">
            Monthly Intake
        </div>
        <div class="item item-body" id="card2">
            <div id="lineChart">
                <svg id="lineChartSVG" class="lineChart--svg">
                    <defs>
                        <linearGradient id="lineChart--gradientBackgroundArea" x1="0" x2="0" y1="0" y2="1">
                            <stop class="lineChart--gradientBackgroundArea--top" offset="0%" />
                            <stop class="lineChart--gradientBackgroundArea--bottom" offset="100%" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>

        </div>
    </div>
    
<!--    <div class="card">-->
<!--        <div class="item item-divider">-->
<!--            Weekly Weight, Mood-->
<!--        </div>-->
<!--        <div class="item item-body" id="card3">-->
<!--        </div>-->
<!--    </div>-->

        </ion-content>
</ion-view>