<ion-view view-title="Set Goal">
  <ion-content class="padding">
    <div class="Weekly goal">
      <div class="h4">5 Serves daily</div>
      <div class="h4">5 Serves as recommand</div>
      <div class="h4">Weekly: <b>35 Serves</b></div>
      <div class="item item-divider">Weekly Rewards</div>
      <div class="item item-body">
        
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Monthly Rewards</div>
      <div class="item item-body">
        
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Long Term Rewards<i class="icon ion-home"></i><i class="icon ion-home"></i></div>
      <div class="item item-body">
        
      </div>
    </div>
  </ion-content>
</ion-view>
