
 <ion-view view-title="Achievement">
    <ion-content class="padding">
    
    <div class="card">
<!--        <a class="item item-thumbnail-left" href="#">-->
<!--            <img src="cover.jpg">-->
<!--            <h2>Next Reward</h2>-->
<!--        </a>-->
        <div class="item item-avatar">
            <img src= "img/trophy.png">
			
                <h2>achievement points:</h2>
                <p>100 pts</p>
        </div>
    </div>
	
	
	<div class="daily-bar">	
		<div class="list">
			
			<div class="item item-divider">
				Daily
			</div>
			
			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>Have you eat veges today? </h2>
				<p>complete 1 serve of vege     </br><b>1pt</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='daily1' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>
			
			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>Not bad, can do better!  </h2>
				<p>complete 3 serves of veges    </br><b>2pts</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='daily2' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>

			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>Good job!  </h2>
				<p>complete 5 serves of veges   </br><b>3pts</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='daily3' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>
			
			<div class="item item-divider">
				Weekly
			</div>
			
			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>Make it a vege week! </h2>
				<p>complete 10 serves of veges  </br><b>5pts</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='weekly1' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>

			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>Vege ongoing! </h2>
				<p>complete 20 serves of veges  </br><b>10pts</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='weekly2' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>
			
			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>Healthy week with veges! </h2>
				<p>complete 30 serves of veges  </br><b>20pts</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='weekly3' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>
			
			<div class="item item-divider">
				Monthly
			</div>

			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>Extra effort required! </h2>
				<p>complete 80 serves of veges  </br><b>40pts</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='monthly1' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>

			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>Full of Vegetables! </h2>
				<p>complete 100 serves of veges  </br><b>60pts</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='monthly2' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>
			
			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>You are the Mr.HEALTH!! </h2>
				<p>complete 120 serves of veges </br><b>100pts</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='monthly3' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>
			
			<div class="item item-divider">
				General
			</div>
			
			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>A start of a healthy life! </h2>
				<p>Sign up for vege tracker </br><b>5pts</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='general1' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>

			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>Jack of all trades </h2>
				<p>Try 10 different kinds of veges  </br><b>10pts</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='general2' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>

			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>Vege Expert  </h2>
				<p>Try 30 different kinds of veges  </br><b>50pts</b></p></div>
				<span class="item-note" style="position: absolute; top:25px; left: 10px;">
      			<img id='general3' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>
			
			<a class="item item-avatar" href="#">
			<div class="row"><div><h2>Proud of you!   </h2>
				<p>Complete all daily, weekly and </br> monthly achievements for the </br>first time   </br><b>50pts</b></p></div>
				<span class="item-note" style="position: absolute; top:40px; left: 10px;">
      			<img id='general4' src='img/white.png' style="width:40px; height:40px;">
    			</span>
    		</div>
			</a>
	
		</div>
	</div>

</div>
    
    </br>

    <div class="item tabs">
    	<a class="tab-item" href="#">
      		<i class="icon ion-social-facebook"></i>
    	</a>
    	<a class="tab-item" href="#">
      		<i class="icon ion-social-twitter"></i>   	
    	</a>
    	<a class="tab-item" href="#">
      		<i class="icon ion-social-googleplus"></i>
    	</a>
    </div>


    </ion-content>
</ion-view>
