<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="item item-avatar">
            <img src="mcfly.jpg">
                <h2><a href="setgoal.html">Next Reward</a></h2>
            <p>Come on! You can do it!</p>
        </div>

<div class="row">
    <div class="bar-wrap">
        <div class="progress" onclick="showBarPopup()">
            <div id="currentBar" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width:20%" >
            </div>
            <div id="maxBar" class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width:10%">
            </div>
        </div>
        <div style="left:33.33%" class="progress-marker"></div>
        <div style="left:66.67%" class="progress-marker"></div>
    </div>
</div>
<div class="row">
    <!-- <div class="time-spot-end"></div> -->
    <div class="time-spot text-center"> Stage 1</div>
    <div class="time-spot text-center"> Stage 2</div>
    <div class="time-spot text-center"> Stage 3</div>
</div>

<!-- <div class="row" style="position:relative; bottom: 20px;">
    <input type="number" id="progressNum">
    <button onclick="updateBar()">Update</button>
    <p id="result" style="position:relative; bottom: -5px;"></p>
</div>   --> 

    <div class="carrot">
        <img src= "img/white.png" id="white" width="500">
        <img src= "img/carrot.png" id="carrot" alt="carrot" height="300">
        <p id="currentServe"></p>
        <img src= "img/carrot1.png" alt="carrot" height="300">
        <a href="setgoal.html"><button id="goalServe"></button></a>
    </div>
    
    <div style="width:auto;text-align: center">
        <a href="vege.html">
            <button class="button button-small button-light">
                <div class="title">Vege Intake</div>
            </button>
        </a>
        &nbsp;
        <a href="diary.html">
            <button class="button button-small button-light">
                <div class="title">Diary Record</div>
            </button>
        </a>
    </div>
    
    <div id="message">
        <center><h4>Current Points: 388pt</h4></center>
    </div>
    
    <div class="item tabs">
    	<a class="tab-item" href="#">
      		<i class="icon ion-social-facebook"></i>
    	</a>
    	<a class="tab-item" href="#">
      		<i class="icon ion-social-twitter"></i>   	
    	</a>
    	<a class="tab-item" href="#">
      		<i class="icon ion-social-googleplus"></i>
    	</a>
    </div>


    </ion-content>
</ion-view>
