<ion-view view-title="Account">
  <ion-content>

  <div class="list">

    <a class="item item-icon-left item-icon-right" href="#">
      <i class="icon ion-person"></i>
        Name
      <span class="item-note" on-tap="showName()">
        <p id="name"> Tom </p>
      </span>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-calendar"></i>
      Date Of Birth
      <span class="item-note" on-tap="showDOB()">
        <p id="dob"> 03/12/1998 </p>
      </span>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-person-stalker"></i>
      Gender
      <span class="item-note" on-tap="showGenders()">
        <p id="gender"> Male </p>
      </span>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-briefcase"></i>
      Occupation
      <span class="item-note" on-tap="showOccupation()">
        <p id="occupation"> Student </p>
      </span>
    </a>

    <a class="item item-icon-left" href="#">
      Height
      <span class="item-note" on-tap="showHeight()">
        <p id="height"> 178cm </p>
      </span>
    </a>

    <a class="item item-icon-left" href="#">
      Weight
      <span class="item-note" on-tap="showWeight()">
        <p id="weight"> 60kg </p>
      </span>
    </a>
    
    <a class="item item-icon-left" href="#">
      Goal Weight
      <span class="item-note" on-tap="showGoalWeight()">
        <p id="g_weight"> 55kg </p>
      </span>
    </a>

  </div>
    </ion-content>
</ion-view>
